* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #494D5F;
    text-align: center;
    margin-top: 1rem;
}

.container {
    height: 70vh;
    display: flex;
    /* flex-wrap: wrap;  */
    justify-content: center;
    align-items: center; 
    /* gap: 2.3vmin; */
}
h1 {
    color: #dbeaf2;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap; 
    /* justify-content: center; */
    /* align-items: center;  */
    gap: 2.3vmin;
} 

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(133, 60, 60, 0.2);
    font-size: 5vmin;
    background-color:  #D0BDF4;
    cursor: pointer;
}

#reset-button, #new-button{
    padding: 0.4rem;
    font-size: 1.25rem;
    background-color: #8458B3;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

#msg {
    font-size: 3rem;
    color: #d7eaf3;
} 
 
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}